<section>
    <h2 class="subtitulo-seccion">Registro de Resultados de Atención</h2>

    <form (ngSubmit)="guardarAtencion()">
        <fieldset [disabled]="cargando">
            <legend>Historia Clínica del Paciente Actual</legend>

            <label for="nro_cita">N° Cita / Orden:</label>
            <input 
                type="text" 
                id="nro_cita" 
                name="nro_cita"
                [(ngModel)]="numeroCita"
                (ngModelChange)="onCitaChange($event)"
                required>
            
            <div style="font-size: 0.85em; margin-bottom: 10px; height: 20px;">
                <span *ngIf="verificandoCita" style="color: blue;">Consultando base de datos...</span>
                
                <ng-container *ngIf="!verificandoCita && numeroCita">
                    <span *ngIf="estadoCita === 'NO_EXISTE'" style="color: red;">Error: El ID de la cita u orden no existe.</span>
                    <span *ngIf="estadoCita === 'OTRA_FECHA'" style="color: orange;">Aviso: La cita/orden no corresponde al día de hoy.</span>
                    <span *ngIf="estadoCita === 'ATENDIDA'" style="color: #d97706;">Aviso: Esta cita u orden ya fue registrada o finalizada.</span>
                    <span *ngIf="estadoCita === 'VALIDA'" style="color: green;">Validado: Código válido y listo para atención.</span>
                    <span *ngIf="estadoCita === 'ERROR'" style="color: red;">Error: No se pudo conectar con el servidor.</span>
                </ng-container>
            </div>

            <label for="diagnostico">Diagnóstico:</label>
            <input type="text" id="diagnostico" name="diagnostico" [(ngModel)]="diagnosticoCie10" required>

            <label for="notas_evolucion">Notas de Evolución:</label>
            <textarea id="notas_evolucion" name="notas_evolucion" rows="5" [(ngModel)]="notasEvolucion"></textarea>

            <button 
                type="submit" 
                class="btn btn--primario"
                [disabled]="estadoCita !== 'VALIDA' || verificandoCita">
                {{ cargando ? 'Guardando en BD...' : 'Guardar en Historia Clínica' }}
            </button>
        </fieldset>
    </form>
</section>
