<header class="header-top">
  <h1>Módulo de Farmacia</h1>
  <p>Usuario: Farmacia Central</p>
</header>

<main class="contenedor">

  <section>
    <h2 class="subtitulo-seccion">Despacho de Medicamentos</h2>

    <form>
      <fieldset>
        <legend>Buscar Órdenes de Entrega</legend>

        <label for="nro_receta">N° Receta o DNI del Paciente:</label>
        <input type="text" id="nro_receta" name="nro_receta">

        <button type="submit">Buscar</button>
      </fieldset>
    </form>

    <h3 class="subtitulo-seccion">Órdenes Pendientes de Despacho</h3>
    <div class="tabla-responsive">
      <table>
        <thead>
          <tr>
            <th>N° Receta</th>
            <th>Paciente</th>
            <th>Origen</th>
            <th>Estado de Pago</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>REC-9921</td>
            <td>María Gómez</td>
            <td>Consulta Externa</td>
            <td><strong class="texto-acento">Pagado</strong></td>
            <td>
              <div class="grupo-acciones">
                <button type="button" class="btn-tabla">Registrar Entrega</button>
                <button type="button" class="btn-tabla">Imprimir Orden</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</main>